/node_modules
/.vscode
*.md
/storage/framework/views/*.*
/storage/framework/cache/*.*
/storage/framework/sessions/*.*
/storage/framework/testing/*.*
/public/storage
/public/videos
/env
.env
/vendor
/public/assets
