body {
  background: #000;
  max-height: 100vh;
}

main.content {
  display: grid;
  grid-template-columns: auto 300px;
  height: calc(100vh - 7rem);
}

nav.navbar {
  background: #111;
  height: 4rem;
}

aside.sidebar {
  background: #181818;
  border-left: 1px solid #ddd;
  /*  overflow-y: scroll;
    max-height: 100%; */
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

aside.sidebar div {
  display: grid;
  grid-template-columns: 1rem auto 5rem;
  padding: 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside.sidebar div * {
  color: #ddd;
  font-size: 14px;
}

aside.sidebar div:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#111), to(#0e1111));
  background-image: linear-gradient(to left, #111 0%, #0e1111 100%);
}

aside.sidebar div a {
  margin: 0px 1rem;
}

.video-fluid {
  background: #444;
  border-right: 10px solid #000;
  margin: 0px;
}

.information {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 2rem 4rem;
  background: #212223;
  color: #ddd;
  font-size: 15px;
}

