body {
  background: #222;
  max-height: 100vh;
}

main.content {
  display: grid;
  grid-template-columns: auto 300px;
  height: calc(100vh - 5rem);
  gap: 0.5rem;
}

nav.navbar {
  background: #111;
  height: 4rem;
}

aside.sidebar {
  background: #101413;
  border-left: 1px solid #ddd;
  overflow-y: scroll;
  max-height: 100%;
  padding-bottom: 1rem;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

aside.sidebar div {
  display: grid;
  grid-template-columns: 1rem auto 5rem;
  padding: 0.5rem;
  background: #333;
  border-bottom: 1px solid #ddd;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside.sidebar div * {
  color: #ddd;
  font-size: 14px;
}

aside.sidebar div:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#434343), to(black));
  background-image: linear-gradient(to left, #434343 0%, black 100%);
}

aside.sidebar div a {
  margin: 0px 1rem;
}

aside.sidebar::-webkit-scrollbar {
  width: 0px;
}

.video-fluid {
  width: 100%;
  overflow-y: hidden;
}

