@import "../variables";

@import "../mixins/index";

@import "../mixins/create";

$gtc: 4fr 2fr 3fr 1fr;

@include index($gtc);


button.btn-submit {
    margin-bottom: 0px !important;
    background: $light-black;
    * {
        font-size: 1.25em;
    }
}