@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One|Permanent+Marker|Ubuntu+Condensed');

body {
    /* background: #222 !important; */
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 300;
}

* {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-style: italic;
}

.hidden {

    display: none;
}

img:not('#navbar-brand') {
    max-width: 100%;
    height: auto;
}