@import '../variables';

#header {
    display: grid;
    align-content: center;
    justify-content: center;

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media screen and (max-width: $md) {
            grid-template-columns: 1fr;
            height: fit-content;
        }

        align-content: center;
        justify-content: center;
    }

    position: relative;
    overflow: hidden;
    background: linear-gradient(45deg, #000, #111);

    .text {
        display: grid;
        align-content: center;
        padding: 0.5rem 3rem;
        min-height: 400px;
        @media screen and (max-width: $md) {
            text-align: center;

            h2 {
                font-size: 2rem;
                margin-top: 2rem;
                margin-bottom: 0.6rem;
            }
        }

        * {
            color: #ddd !important;

        }
    }

    .image {
        img {
            padding-top: 1rem;
            display: block;
        }

        @media screen and (min-width: $md) {
            img {
                margin-right: 0px;
            }
        }

        @media screen and (max-width: $md) {
            margin: auto;
            width: 500px;
            max-width: 90%;
        }
    }

    &:after {
        background: rgba(0, 0, 0, 0) url(../../images/home-wave.svg) no-repeat scroll center center / cover;
        bottom: 0px;
        height: 166px;
        width: 100%;
        top: auto;
        z-index: 9;
        content: "";
    }

    /* &:after {
        background-image: url(../../images/header.png);
        background-size: cover;
        content: "";
        position: absolute;
        left: 55%;
        width: 45%;
        height: 100%;
        z-index: 0;
        background-repeat: no-repeat;
    } */
}

/* #slider {
    height: calc(100vh - 60px);
    #slide-1 {
        background: url(../../images/slides/1)
    }
} */

.skills {
    text-align: center;
    padding: 2rem;

    * {
        color: $white;
    }

    .stats {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        >div {
            width: 150px;
            margin: 1rem;
            background-image: linear-gradient(to right top, #000, #111);
            padding: 1rem;
            border-radius: 10px;
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.35);

            h5 {
                font-weight: bold;
                color: #fff;
            }

            p {
                color: #ddd;
                margin: 0
            }
        }
    }
}

.schools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .school {
        width: 200px;
        margin: 1rem;
        background: #000;
        border-radius: 10px;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.35);

        .name {
            text-align: center;
            color: #ddd;
        }

        .school-stats {
            display: flex;
            flex-direction: row;
            justify-content: center;

            >div {
                margin: 1rem;
                text-align: center;

                * {
                    color: #ddd;
                }
            }
        }
    }
}