// Variables
@import "../variables";

.card-header {
    color: $white;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed|Open+Sans');
body {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 300;
    height: 100vh;
}

* {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button.btn,
a {
    font-family: 'Ubuntu Condensed', sans-serif;
}

.hidden {
    display: none;
}

body.sidebar-show {
    display: grid;
    grid-template-columns: 230px auto;
    @media screen and (max-width: $md) {
        grid-template-columns: 1fr;
    }
    align-items: start;
}

body {
    *> {
        margin-bottom: 0px !important;
    }
    background: transparent;
    ul#sidenav {
        @media screen and (max-width: $md) {
            display: none;
        }
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0px;
        &::-webkit-scrollbar {
            display: none;
        }
        min-height: 100vh;
        overflow-y: scroll;
        background: $light-black;
        * {
            color: $gold;
        }
        .logo-wrapper {
            padding-bottom: 1rem;
            border-bottom: 2px solid $gold;
        }
        img {
            max-width: 90%;
            height: auto;
            display: block;
            margin: auto;
        }
        a:hover {
            background: $gold;
            color: $white;
            i {
                color: $white;
                transition-duration: 0.5s;
            }
            transition-duration: 0.5s;
        }
        a.collapsible-header {
            padding: 0.4rem;
            display: grid;
            grid-template-columns: 3rem auto 3rem;
            align-items: center;
            i {
                justify-self: center;
            }
        }
        .collapsible {
            padding-top: 1rem;
            list-style-type: none;
            padding-left: 0px;
        }
        div.collapsible-body {
            ul {
                list-style-type: none;
                padding-left: 0px;
            }
            a {
                padding: 0.25rem;
                padding-left: 1.5rem;
                display: grid;
                grid-template-columns: 3rem auto;
                align-items: center;
                i {
                    justify-self: center;
                }
            }
        }
    }
    main {
        min-height: 100vh;
        max-height: 100vh;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}


.md-form {
    margin: 2rem auto;
    input,
    textarea {
        &:focus:not([readonly]),
            {
            border-bottom: 1px solid $light-black !important;
            box-shadow: 0 1px 0 0 $light-black !important;
        }
    }
    label.active {
        color: $light-black !important;
    }
}

.form-group {
    .form-control {
        border-radius: 0px;
        box-shadow: none;
        transition: $btn-transition;
        &:focus {
            border-color: $light-black;
        }
    }
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: $gold;
    &:after {
        background-color: lighten($gold, 10);
    }
}

.dropdown-content.select-dropdown {
    li:not(.disabled):not(.active) {
        span {
            color: $light-black;
        }
        transition: 1s;
        &:hover {
            background: $light-black;
            span {
                color: $gold;
            }
        }
    }
    li.active.selected {
        background: $gold;
        span {
            color: $white
        }
        ;
    }
}

.swal-delete {
    background: $light-black;
    * {
        color: $white;
    }
    .swal2-icon {
        .swal2-warning {
            border-color: $gold !important;
        }
    }
}

button.btn-submit {
    margin-bottom: 0px !important;
    background: $light-black;
    * {
        font-size: 1.25em;
    }
}

.create,
.filter {
    letter-spacing: 0.25em;
    font-size: 1.25em;
    border: 1px solid $gold;
    margin: 0em auto !important;
    display: block;
    width: 100%;
    transition: $btn-transition;
}

.create {
    background: $white;
    color: $gold;
    i {
        color: $gold;
    }
    &:hover {
        background: $gold;
        color: $white;
        i {
            color: $white;
        }
    }
}

.filter {
    background: $light-black;
    color: $gold;
    i {
        color: $gold;
    }
    &:hover {
        background: $gold;
        color: $light-black;
        i {
            color: $light-black;
        }
    }
}