@import 'colors';
@import 'gradient-mixins';

// Colors
$gold: #f3b715;
$dark-black: #000;
$light-black: #222;
$white: #fff;

    
$gradientBg: linear-gradient(45deg, rgba($black, 1), rgba($black, 0.8));
$action-btns-radius: 1em;
$action-btns-padding: 0.5em 1em;
$btn-show-background: #013243;
$btn-edit-background: #2574A9;
$btn-delete-background: #CF000F;

$danger: #CF000F;

$btn-check: #00E640;
$btn-transition: 0.5s;
$header-height: 8vh;


// Media Queries
$xs: 400px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
