// Colors
$gold: #f3b715;
$dark-black: #000;
$light-black: #222;
$white: #fff;


$action-btns-radius: 1em;
$action-btns-padding: 0.5em 1em;
$btn-show-background: #013243;
$btn-edit-background: #2574A9;
$btn-delete-background: #CF000F;
$header-height: 8vh;


// Media Queries
$xs: 400px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;